.main_content,.main_search{
	width: 1250px;
	margin:10px auto;
	position: relative;
}
.main_search{
	height: 70px;
	margin-bottom: 10px;
	background: #f7f7f7;
	padding-top: 20px;
}
.main_search_content{
	height: 35px;
	margin: 0px 25px;
}
.search{
	width: 220px;
}
.search_input{
	width: 100% !important;
}
.main ul,.main li{
    margin: 0px !important;
    padding: 0px  !important;
}
.select_api{
	width: 220px !important;

}