/*.t_main_search,.t_main_content,.t_page-header{
	position: relative;
	margin: 0px auto;
	margin-bottom: 20px;
	width: 66%;
}*/
.list-group{
	margin-bottom: 5px;
}
.list-group-item-heading {
	font-weight: 400;
	/*width: 300px;*/
}
.list-group-item > ul{
	width: 200px;
	/*float: right;*/
}
.list-inline{
	margin-bottom: 0px;
}
.list-unstyled{
	margin-bottom: 0px;
}
.table-striped th,td{
	text-align: center;

}
.table-striped th{
		color: #959595;
	font-weight: 400;
}

