<!DOCTYPE html>
<html lang="en">
<head>
<meta name=”renderer” content=”webkit” />
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="keywords" content="">
<meta name="Description" content="Dean">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=9; IE=10" />
<meta charset="utf-8">
<title>Voldemort</title>
{% load staticfiles %}
<link href="/static/Font-Awesome-master4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bootstrap3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bootstrap3.3.0/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/api_add.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
</style>
<script type="text/javascript">
</script>
</head>
<body>
 <div class="container_all">
  <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo">Voldemort</a>     
    </div> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav menu_list" id="menu_area"></ul>        
          <p class="navbar-text navbar-right"><a href="javascript:void(0)" id="logoff"><i class="fa fa-sign-out fa-lg"></i></a></p>
          <p class="navbar-text navbar-right">{{ request.user.username }}</p>
    </div>
   </div>
  </nav>
  <div class="content">
    <div class="loading" style="display:none;">
      <div class="loading_message">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
      </div>
    </div>
     <div class="main">
       <div class="main_content" >
        <div class="add_table"> 
          <div class="add_table_title"><span>编辑接口</span></div> 
          <div class="add_table_content">
            <form id="edit_table_form">
              <div class="form-group">
                <input type="text" id="t_api_id" name="api_id" value="{{ api.id }}" style="display: none;">
                <label for="exampleInputEmail1">API名称<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                <input type="text" class="form-control" id="t_api_name" name="name"  maxlength="40" value = "{{api.name}}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">请求路径<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                <input type="text" class="form-control" id="t_api_url" name="path" value="{{api.path}}" maxlength="1000">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">请求方式<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                <select class="form-control" name="method">
                  <option {% ifequal api.method 'post' %}selected="selected"{% endifequal %}>post</option>
                  <option {% ifequal api.method 'get' %}selected="selected"{% endifequal %}>get</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">所属项目<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                <select class="form-control" name="project">
                   {% for proj in projs %}
                    <option value="{{proj.id}}" {% ifequal api.proj proj %}selected="selected"{% endifequal %}>{{ proj.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">API描述</label>
                <textarea class="form-control" rows="3" name="description">{{api.description}}</textarea>
              </div>
              <button type="button" class="btn btn-default refresh_page">取消 </button>
              <button type="button" onClick="api_edit();" class="btn btn-default" id="api_add_btn">确认提交 <i class="fa fa-hand-o-right" aria-hidden="true"></i></button>
            </form>
          </div>        
          </div>
       </div>
     </div>
   </div>
  <footer class="bottom">
    <div class="container">
      <p>Designed and built by Testing team.</p>
    </div>
  </footer>
 </div>
 <!-- 消息提示 -->
<div class="alert alert-danger collapse fade in error_message" id="confirm_error" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop_error()">
    &times;
  </button>
  <strong id="error_mess"></strong>
</div>
<div class="alert alert-success collapse fade in sucess_message" id="confirm_sucess" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop_success()">
    &times;
  </button>
  <strong id="sucess_mess"></strong>
</div>
</div>
<script src="/static/dist/js/jquery2.min.js"></script>
<script src="/static/bootstrap3.3.0/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/static/bootstrap3.3.0/js/bootstrapValidator.min.js" charset="utf-8"></script>
<script src="/static/dist/js/bootstrap-select.js" charset="UTF-8"></script>
<script src="/static/src/js/common.js"></script>
<script src="/static/src/js/api_add.js"></script>
<script type="text/javascript">
 $(function(){
  // 初始化界面
  creatmenu();
  menu_current(0);
  $("#edit_table_form").bootstrapValidator({  
          message:'',  
          feedbackIcons:{
            valid:'glyphicon glyphicon-ok',
            invalid:'glyphicon glyphicon-remove',
            validating:'glyphicon glyphicon-refresh'
          },
          fields:{
            name:{     //用户名校验
              message:'',
              validators:{
                notEmpty:{
                  message:'API名称不能为空'
                         },
                  regexp: {
                            regexp: /^[^&]+$/,
                            message: '不可以输入&连接符'
                        }
                         }
                     },
              path:{     //密码校验
              message:'',
              validators:{
                notEmpty:{
                  message:'请求路径不能为空'
                         },
                  regexp: {
                            regexp: /^[^&]+$/,
                            message: '不可以输入&连接符'
                        }
                         }
                         }                   
                     }        
        });
 });
</script>
</body>
</html>