<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta name=”renderer” content=”webkit” />
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="keywords" content="">
<meta name="Description" content="Dean">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=9; IE=10" />
<meta charset="utf-8">
<title>Voldemort</title>
<link href="/static/Font-Awesome-master4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bootstrap3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/login.css" rel="stylesheet" type="text/css" />
<script src="/static/dist/js/jquery2.min.js"></script>
<script src="/static/bootstrap3.3.0/js/bootstrap.min.js" charset="utf-8"></script>
</head>
<style type="text/css">
.alert{
  width: 100%;
  height: 55px;
  position: fixed;
  top:0px;
  margin-top: 0px !important;

}
</style>
<script type="text/javascript">
   function close_pop(){
    $(".error_message").slideUp();
 } 
</script>
</head>
<body>
 <div id="screen">
  <div class="login">
    <div class="login_main">
      <div class="header">
        <span class="sys_name">Voldemort<strong class="sys_version"> v2.0</strong></span>
      </div>
      <div class="middle">
        <form id="form1">
          <div class="form-group">
            <input type="text" class="form-control login_components" placeholder="请输入username" name="username">      
          </div>
          <div class="form-group">
            <input type="password" class="form-control login_components" placeholder="请输入password" name="password">     
          </div>                    
        </form>
        <button type="button" class="btn btn-default" id="login-button">登陆</button>
      </div>
    </div>
  </div> 
 
<div class="alert alert-danger collapse fade in error_message" id="confirm_error" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop()">
    &times;
  </button> 
  <strong id="error_mess"></strong>
</div>
<div class="alert alert-success collapse fade in error_message" id="confirm_error" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop()">
    &times;
  </button> 
  <strong id="error_mess"></strong>
</div>
</div>
<script type="text/javascript">
$('#login-button').click(function(event){
	$.ajax({
    url:'/login/',
    type : "Post",
    async: false,
    data: $("#form1").serialize(),
    dataType: 'json',
    success:function(data)
    {
      var Data = data["msg"];
      var Status = data["status"];
      if (Status==0){
      	window.location.href="{% url 'api:api_list' %}";
      }
      else{
      	$("#error_mess").html(Data);
      $("#confirm_error").slideDown();
      }           
    },
    error:function(data)
    {
      $("#error_mess").html("系统异常！");
      $("#confirm_error").slideDown();
    }
  });
});
$(document).keyup(function(event){
  if(event.keyCode ==13){
    $("#login-button").trigger("click");
  }
});
</script>
</body>
</html>