<!DOCTYPE html>
<html lang="en">
<head>
<meta name=”renderer” content=”webkit” />
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="keywords" content="">
<meta name="Description" content="Dean">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=9; IE=10" />
<meta charset="utf-8">
<title>Voldemort</title>
{% load staticfiles %}
<link href="/static/Font-Awesome-master4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bootstrap3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/api_list.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/plan_list.css" rel="stylesheet" type="text/css" />
<link href="/static/src/css/plan_tasks.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="container_all">
  <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo">Voldemort</a>     
    </div> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav menu_list" id="menu_area"></ul>        
      <p class="navbar-text navbar-right"><a href="javascript:void(0)" id="logoff"><i class="fa fa-sign-out fa-lg"></i></a></p>
      <p class="navbar-text navbar-right">{{ request.user.username }}</p>
    </div>
   </div>
  </nav>
  <div class="content">
    <div class="loading" style="display:none;">
      <div class="loading_message">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
      </div>
    </div>
     <div class="main">
      <div class="main_search">
        <div class="main_search_content">
            <ul class="list-inline">
            <li class="pull-left">
                <button type="button" class="btn btn-default" onClick="planAdd()"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp; 新增计划</button>
            </li>
             <li class="pull-right">
                <form class="form-inline" id="add_plan_table">
                  <div class="form-group">
                  <label>创建人</label>
                      <select class="form-control selectpicker select_api" data-live-search="true" id="creator">
                        <option value="0">请选择</option>
                        {% for users in users %}
                        <option value="{{users.id}}">{{users.username}}</option>
                        {% endfor %}
                      </select>
                  </div>
                <div class="form-group">
                  <label>项目</label>
                      <select class="form-control selectpicker select_api" data-live-search="true" id="proj">
                        <option value="0">请选择</option>
                        {% for proj in projs %}
                        <option value="{{proj.id}}">{{ proj.name}}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="form-group search">
                    <input type="text" class="form-control search_input" placeholder="请输入计划名称" id="keywords" name="name">
                  </div>
                  <button class="btn btn-default" type="button" onClick="query(1,10);"><i class="fa fa-search"></i></button>
                </form>
             </li>
           </ul>      
          </div>
         </div>
       <div class="main_content row">
        <div class="col-md-8 sss">
          <div  class="center_content_table" >  
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
           </div>        
          </div>
          <div class="pagination1">
             <nav style="text-align: center" id="fenye"></nav>
          </div>
        </div>
        <div class="col-md-4 sss">
          <div class="loading1" style="display:none;">
            <div class="loading_message1">
              <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
            </div>
          </div>
          <div id="plan_tasks">
           <img src="/static/images/nodata.png" class="nodata_img">
        </div>
        </div>      
       </div>
     </div>
   </div>
  <footer class="bottom">
    <div class="container">
      <p>Designed and built by Testing team.</p>
    </div>
  </footer>
 </div>
 </div>
 <!-- 消息提示 -->
<div class="alert alert-danger collapse fade in error_message" id="confirm_error" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop_error()">
    &times;
  </button>
  <strong id="error_mess"></strong>
</div>
<div class="alert alert-success collapse fade in sucess_message" id="confirm_sucess" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop_success()">
    &times;
  </button>
  <strong id="sucess_mess"></strong>
</div>
<div class="alert alert-warning collapse fade in sucess_message" id="confirm_warning" style="display: none;">
  <button  type="button" class="close" aria-label="Close" onclick="close_pop_error()" style="padding-top: 5px;">
    &times;
  </button>
  <strong id="warning_mess">删除计划同时会删除其所属的历史任务信息,确定这样做吗？</strong>
  <button class="btn" type="button" onclick="plan_delete()">确定</button>
</div>
<!-- 创建任务弹出框 -->
<div class="modal fade bs-example-modal-sm" id="plan_createtask_pop" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <span class="modal-title" id="myModalLabel">创建测试任务</span>
      </div>
      <div class="modal-body">
         <form >
              <div class="form-group" id="env">       
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="create_task()"><i class="fa fa-bicycle" aria-hidden="true"></i> 创建</button>
      </div>
    </div>
  </div>
 </div> 
<script src="/static/dist/js/jquery2.min.js"></script>
<script src="/static/bootstrap3.3.0/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/static/dist/js/bootstrap-select.js" charset="UTF-8"></script>
<script src="/static/dist/js/extendPagination.js"></script>
<script src="/static/src/js/common.js"></script>
<script src="/static/src/js/plan_list.js"></script>
<script type="text/javascript">
 $(function(){
  // 初始化界面
  loading(0);
  creatmenu();
  menu_current(2);
  query(1,10);
  
 });
</script>
</body>
</html>